@import url("./tipografia/bakery.ttf");
@import url("./tipografia/Arimo-Regular.ttf");

$title-typography: 'Bakery';
$paragraph-typography: 'Arimo';

h1 {
    font-family: $title-typography;
    font-size: 68px;
}

h2 {
    font-family: $title-typography;
    font-size: 60px;
    animation-duration: 1.5s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

h3 {
    font-size: 21px;
    font-family: $paragraph-typography;
}

p {
    font-family: $paragraph-typography;
    font-size: 14px;
    color: #131313;
}

@keyframes aparecer {
    0% {
 opacity: 0; }
    100% {
      opacity: 1;
 } 
}

 @keyframes aparecer {
    0% {
 opacity: 0; }
    100% {
      opacity: 1;
 } 
}

