body {
    main {
        #formularioYMapa {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            div {
                form {
                        width: 40%; 
                        display: inline;
                        float: left; 
                        input {
                            width: 395px;
                            height: 35px;
                        }  
                        textarea {
                            width: 395px;
                            height: 119px;
                        }
                        .boton {
                            display: block;
                        }
                    }  
                }
                .amarilloAbajo {
                                float: right;
                                display: inline;
                                background-color: $primary-color;
                                height: 524px;
                                width: 40%;
                                    iframe {
                                        padding: 20px;
                                        border: solid 21px $primary-color;
                                        overflow: hidden;
                                    }
                                    .copyright {
                                        font-size: 12px;
                                    }
                        }
                }
            }
        }






@media screen and (max-width: 850px) {
    body {
        main {
            #formularioYMapa {
                flex-direction: column;
                flex-wrap: wrap;
                .amarilloAbajo {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}