header {
    nav {
        background-color: white;
        width: 100%;
        height: 177px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
            img {
                width: 60px;
                height: 60px;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            ul {
                margin-top: 77px;
                margin-bottom: 77px;
                list-style-type: none;
                display: inline;
                display: flex;
                flex-direction: row;
                li {
                    a {
                    font-size: 18px;
                    font-family: $paragraph-typography;
                    color: $fifth-color;
                    text-decoration: none;
                    margin-left: 40px;
                    &:hover {
                        font-size: 18px;
                        font-weight: bold;
                        color: #ABA3FF;
                    }
                    }
                }
            }        
    }
}


@media screen and (max-width: 850px) {
    header{ 
        nav {
        width: 100%;
        height: 100%;
    }
}
    body {
        nav {
            ul {
                li {
                    a {
                        font-size: 14px; 
                        margin-left: 25px; 
                    }
                }
            }
        }
    }
}
